:root {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
    font-size: 20px;
    color: white;
    background-color: rgb(58, 58, 214);
    text-align: center;
}

.headerTitle {
    padding: 7px;
}

#searchText {
    font-size: 20px;
    font-weight: bold;
}

.historyBar {
    
}
